In [2]:
from docxtpl import DocxTemplate
import pandas as pd

In [3]:
doc = DocxTemplate("2.docx")

In [4]:
df = pd.read_csv('tabela.csv', sep=';')
df

   Unnamed: 0  Coluna_1  Coluna_2  Coluna_3
0         1.0       156       565     875.0
1         1.0       234       789     452.0
2         1.0       756       345     168.0
3         NaN       NaN       NaN       NaN
4         NaN       NaN       NaN       NaN
5         NaN  Coluna 1  Coluna 2       NaN
6         2.0       156       565       NaN
7         2.0       234       789       NaN
8         2.0       756       345       NaN

In [9]:
for i in range(2):
    #globals()["tba_"+str(i+1)] = pd.DataFrame(df[df["Unnamed: 0"] == i+1]).dropna(axis=1).drop(columns=["Unnamed: 0"])
    globals()["tba_"+str(i+1)] = df[df["Unnamed: 0"] == i+1].dropna(axis=1).drop(columns=["Unnamed: 0"]).to_dict('records')

In [11]:
tba_2

[{'Coluna_1': '156', 'Coluna_2': '565'},
 {'Coluna_1': '234', 'Coluna_2': '789'},
 {'Coluna_1': '756', 'Coluna_2': '345'}]

In [ ]:
tb_1 = tba_1.to_dict('records')
tb_1

In [ ]:
context = {
    "tb_1": tb_1
    

}

In [ ]:
doc.render(context)

In [ ]:
doc.save("TESTE.docx")

In [ ]:
from random import randint

In [ ]:
salesRows = []

for iItr in range(10):
    costPu = randint(1,15)
    nUnits = randint(100,500)
    salesRows.append({'sNo': iItr+1, 'name': 'Item '+str(iItr+1),'cPU': costPu, 'nUnits': nUnits, 'revenue': costPu*nUnits})

In [ ]:
salesRows

In [ ]:
df4 = pd.DataFrame(salesRows)
df4